<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <header>
        <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
            <div class="container-fluid">
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <a href="{{ path('index') }}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <h2 class="text-primary">Clocking</h2>
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        {% set currentPath = app.request.attributes.get('_route') %}
                        {# if logged in #}
                        {% if app.user %}
                            {% set navLinks = [
                                {'path': 'index', 'label': 'Home', 'icon': 'fa-house-user'},
                                {'path': 'calendar', 'label': 'Calendar', 'icon': 'fa-calendar-days'},
                                {'path': 'configPage', 'label': 'Configuration', 'icon': 'fa-gear'},
                                {'path': 'admin_dashboard', 'label': 'Admin Panel', 'icon': 'fa-lock', 'role': 'ROLE_ADMIN'},
                                {'path': 'user_profile', 'label': app.user.email|split('@')[0], 'icon': 'fa-user'},
                                {'path': 'logout', 'label': '', 'icon': 'fa-sign-out'},
                            ] %}

                            {% for link in navLinks %}
                                <li>
                                    <a href="{{ path(link['path']) }}" class="nav-link{% if currentPath == link['path'] or (currentPath == 'home' and link['path'] == 'index')  %} text-primary{% else %} text-dark{% endif %}">
                                        <i class="fas {{ link['icon'] }}"></i>
                                        {{ link['label'] }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>
                                <a href="{{ path('login') }}" class="nav-link text-white">
                                    <i class="fa-solid fa-sign-in"></i>
                                    Login
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <body>
        <div class="container-fluid">
            <div class="card shadow p-2">
            {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
